<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StatusQuo</title>
    <meta name="Description" content="Simple status monitoring for websites">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/vuetify@0.14.5/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
    <link href="styles.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-navigation-drawer
          persistent
          :mini-variant="miniVariant"
          :clipped="clipped"
          enable-resize-watcher
          v-model="drawer"
          dark
        >
          <v-list>
            <v-list-item
              v-for="(item, i) in menuitems"
              :key="i"
            >
              <v-list-tile value="true" v-bind:href="item.href" v-on:click="go">
                <v-list-tile-action>
                  <v-icon class="grey--text text--lighten-2" v-html="item.icon"></v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title v-text="item.title"></v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>
        <v-toolbar class="red" fixed dark>
          <v-toolbar-side-icon @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
          <v-toolbar-title v-text="title"></v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <main>
          <v-container fluid>
            <page>
            </page>
          </v-container>
        </main>
        <v-footer :fixed="fixed">
          <span>&copy; 2017</span>
        </v-footer>
      </v-app>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue@2.4.2/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify@0.14.5/dist/vuetify.js"></script>

    <script type="text/x-template" id="monitor">        
      <v-list two-line subheader>
        <v-list-group v-for="item in items" :value="item.active" v-bind:key="item.name">
          <v-list-tile slot="item" avatar>
            <v-list-tile-avatar>
              <v-icon v-bind:class="[item.iconClass]">{{ item.icon }}</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.name }}</v-list-tile-title>
              <v-list-tile-sub-title>{{ item.url }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-action>
              <!-- <v-icon class="indigo--text">alarm_on</v-icon> -->
              <v-icon class="indigo--text">arrow_upward</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.uptime }}%</v-list-tile-title>
              <v-list-tile-sub-title>Uptime</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-action>
              <!-- <v-icon class="indigo--text">timerswap_horiz</v-icon> -->
              <v-icon class="indigo--text">timer</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ Math.floor(item.avg_response_time / 1000000) }}ms</v-list-tile-title>
              <v-list-tile-sub-title>Average Response Time</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-action>
              <!-- <v-icon class="indigo--text">mood</v-icon> -->
              <v-icon class="indigo--text">{{ item.apdexIcon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ Number(item.apdex.toFixed(2)) }}</v-list-tile-title>
              <v-list-tile-sub-title>Apdex Score ({{ Math.round(item.satisfied_count / item.request_count * 100) }}% Satisfied, {{ Math.round(item.tolerating_count / item.request_count * 100) }}% Tolerating, {{ Math.round((item.frustrating_count + item.error_count) / item.request_count * 100) }}% Frustrated)</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider inset></v-divider>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon class="indigo--text">autorenew</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.frequency }}</v-list-tile-title>
              <v-list-tile-sub-title>Frequency of Check</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
            <!--
            <v-list-tile-action>
              <v-btn icon ripple>
                <v-icon class="grey--text text--lighten-1">info</v-icon>
              </v-btn>
            </v-list-tile-action>
            -->
            <!--
            <dialog v-bind:item = "item" vbind:show="dialog"></dialog>
              -->
            <!-- Start of component
            <v-dialog v-model="dialog[i]">
              <v-card>
                <v-card-title class="headline">{{ item.name }}</v-card-title>
                <v-card-text>Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.</v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn class="green--text darken-1" flat="flat" @click.native="dialog[i] = false">Disagree</v-btn>
                  <v-btn class="green--text darken-1" flat="flat" @click.native="dialog[i] = false">Agree</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
              End of component -->
          </v-list-group>
        </v-list>
    </script>

    <script>
      Vue.component('page', {
        template: '#monitor',
        data: function() {
          return {
            items: [],
            dialog: []
          }
        },
        methods: {
          loadData: function () {
            $.get('/api/checks/')
              .then(response => {
              console.log(response)
              for (var i = 0; i < response.length; i++) {
                if (response[i].is_up) {
                  console.log("is UP");
                  response[i].icon = "check";
                  response[i].iconClass = "green white--text";
                } else {
                  console.log("is down");
                  response[i].icon = "clear";
                  response[i].iconClass = "red white--text";
                }

                if (response[i].apdex > 0.8) {
                  response[i].apdexIcon = "sentiment_very_satisfied";
                } else if (response[i].apdex > 0.6) {
                  response[i].apdexIcon = "sentiment_satisfied";
                } else if (response[i].apdex > 0.4) {
                  response[i].apdexIcon = "sentiment_neutral";
                } else if (response[i].apdex > 0.2) {
                  response[i].apdexIcon = "sentiment_dissatisfied";
                } else {
                  response[i].apdexIcon = "sentiment_very_dissatisfied";
                }
              }
              this.items = response;
            }).catch((err) => console.log(err));
          }
        },
        created: function () {
          this.loadData();

          for (var i = 0; i < this.items.length; i++) {
            this.dialog[i] = false
          }

          setInterval(function () {
            this.loadData();
          }.bind(this), 30000); 
        }
      })
    </script>

    <script>
      new Vue({
        el: '#app',
        data: {
          clipped: true,
          drawer: true,
          fixed: false,
          menuitems: [
            { id: '0', icon: 'timeline', title: 'Monitoring', href: '/'},
            { id: '1', icon: 'info_outline', title: 'About', href: '/about.html'}
          ],
          miniVariant: false,
          title: 'StatusQuo',
        }
      })
    </script>

  </body>
</html>
